/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/* font-family: 'Big Shoulders Display', cursive;
   font-family: 'Lexend Deca', sans-serif; */

:root {
    /* primary colors */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    /* neutral colors */
    --paragrahps: hsla(0, 0%, 100%, 0.75);
    --bg-headings-buttons: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}