/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
/* import styles */
@import url("navigation.css");
/* root styles */
:root {
    /* primary colors */
    --soft--blue: hsl(231, 69%, 60%);
    --soft--red: hsl(0, 94%, 66%);
    /* neutral colors */
    --grayish--blue: hsl(229, 8%, 60%);
    --very--dark--blue: hsl(229, 31%, 21%);
}

* {
    margin: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
}

::after,
::before {
    margin: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubiek', sans-serif;
    font-size: 18px;
}

div.wrapper {
    max-width: 1440px;
}