/* root styles */

:root {
    /* primary colors */
    --StrongCyan: hsl(171, 66%, 44%);
    --LightBlue: hsl(233, 100%, 69%);
    /* neutral colors */
    --DarkGrayishBlue: hsl(210, 10%, 33%);
    --GrayishBlue: hsl(201, 11%, 66%);
}


/* zet alles op nul */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


/* font-family and font-size */

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

img {
    width: 100%;
}

p {
    font-size: 0.9em;
    font-weight: 400;
    color: var(--GrayishBlue);
}


/* buttons */

.form--btns {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
}

.btn {
    width: 311px;
    height: 56px;
    border: none;
    border-radius: 28px;
    color: #effcff;
    font-size: 1em;
}

.btn--ios {
    background-color: var(--StrongCyan);
    border-bottom: 2px solid #219f8a;
}

.btn--mac {
    background-color: var(--LightBlue);
    border-bottom: 2px solid #4f62da;
}


/* header styles */

.page--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    background-image: url(../images/bg-header-mobile.png);
    background-position: right top;
    background-repeat: no-repeat;
    padding-bottom: 9em;
}

.page--header figure {
    margin-top: 7em;
    margin-bottom: 3.8em;
}

.page--header h1 {
    width: calc(100vw*0.83);
    max-width: 686px;
    font-size: 1.6em;
    font-weight: 600;
    color: var(--DarkGrayishBlue);
    text-align: center;
}

.page--header p {
    width: calc(100vw*0.83);
    max-width: 686px;
    line-height: 1.6;
    text-align: center;
    margin-top: 1.3em;
    margin-bottom: 2.6em;
}


/* section--a styles*/

.page--section--a {
    display: grid;
    grid-template-columns: auto;
    width: calc(100vw * 0.83);
    margin: auto;
}

.page--section--a header {
    max-width: 686px;
    margin: auto;
    text-align: center;
}

.page--section--a div {
    margin: auto;
}

@media only screen and (min-width: 768px) {
    .page--section--a {
        grid-template-columns: 1fr 1fr;
    }
    .page--section--a header {
        grid-column: 1 / 3;
    }
}