/* root styles */

:root {
    /* primary colors */
    --StrongCyan: hsl(171, 66%, 44%);
    --LightBlue: hsl(233, 100%, 69%);
    /* neutral colors */
    --DarkGrayishBlue: hsl(210, 10%, 33%);
    --GrayishBlue: hsl(201, 11%, 66%);
}


/* zet alles op nul */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


/* font-family and font-size */

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

div.wrapper {
    max-width: 1440px;
    margin: auto;
}

h2 {
    font-size: 1.5em;
    color: var(--DarkGrayishBlue);
}

h3 {
    font-size: 1.3em;
    color: var(--DarkGrayishBlue);
}

img {
    width: 100%;
    height: auto;
}

p {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.6;
    color: var(--GrayishBlue);
}


/* buttons */

.form--btns {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
}

.btn {
    width: 311px;
    height: 56px;
    border: none;
    border-radius: 28px;
    color: #effcff;
    font-size: 1em;
}

.btn--ios {
    background-color: var(--StrongCyan);
    border-bottom: 2px solid #219f8a;
}

.btn--mac {
    background-color: var(--LightBlue);
    border-bottom: 2px solid #4f62da;
}


/* header styles */

.page--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    background-image: url(../images/bg-header-mobile.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 9em;
}

.page--header figure {
    margin-top: 7em;
    margin-bottom: 3.8em;
}

.page--header h1 {
    width: calc(100vw*0.83);
    max-width: 686px;
    font-size: 1.6em;
    font-weight: 600;
    color: var(--DarkGrayishBlue);
    text-align: center;
}

.page--header p {
    width: calc(100vw*0.83);
    max-width: 686px;
    /*line-height: 1.6;*/
    text-align: center;
    margin-top: 1.3em;
    margin-bottom: 2.6em;
}


/* section--a styles*/

.page--section--a {
    display: grid;
    grid-template-columns: auto;
    row-gap: 3em;
    width: calc(100vw * 0.83);
    margin: auto;
}

.page--section--a header {
    max-width: 686px;
    margin: auto;
    text-align: center;
}

.page--section--a p.page--section--a--header__para {
    margin-top: 1.3em;
}

.page--section--a figure {
    margin-top: 0.8em;
}

.page--section--a div {
    margin: auto;
}

.page--section--a h3 {
    text-align: center;
}

.page--section--a p.page--section--a__para {
    padding-top: 0.7em;
    padding-bottom: 3em;
    text-align: center;
}


/* section--b styles */

.page--section--b {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*gap: 5em;*/
    margin-top: 7.8em;
}

.page--section--b h2 {
    width: calc(100vw*0.83);
    max-width: 686px;
    text-align: center;
}

.page--section--b p.page--section--b__para {
    width: calc(100vw*0.83);
    max-width: 686px;
    padding-top: 0.7em;
    padding-bottom: 4em;
    text-align: center;
}

.page--section--b figure {
    width: calc(100vw*0.83);
    height: auto;
    max-width: 810px;
}


/* section--c styles */

.page--section--c {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.5em;
    margin-top: 6em;
}

.page--section--c div {
    margin: auto;
    width: calc(100vw*0.83);
    text-align: center;
}

.page--section--c h3 {
    padding-top: 1.5em;
}

.page--section--c p.page--section--c__para__first {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.page--section--c p.page--section--c__para {
    padding-top: 1em;
}

.page--section--c img {
    width: auto;
}


/* section d */

.page--section--d {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5em;
    margin-top: 7em;
}

.page--section--d img.page--section--d__logo__big {
    width: calc(100vw*0.35);
}

.page--section--d img.page--section--d__logo__small {
    width: calc(100vw*0.30);
}


/* section e */

.page--section--e {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9.5em;
    margin-bottom: 9.5em;
    text-align: center;
}

.page--section--e h2 {
    width: calc(100vw*0.83);
}

.page--section--e p.page--section--e__para {
    width: calc(100vw*0.82);
    margin-top: 1.5em;
    margin-bottom: 2.5em;
}

.page--section--f {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f6f8;
    padding-top: 5em;
}

.page--section--f figure {
    margin-bottom: 5em;
}

.page--section--f img {
    width: auto;
}

.page--section--f ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    list-style: none;
}

.page--section--f div.social--media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
}

@media only screen and (min-width: 768px) {
    /* buttons */
    .form--btns {
        flex-direction: row;
    }
    .btn {
        width: 227px;
    }
    /* header styles */
    .page--header {
        background-image: url(../images/bg-header-desktop.png);
        padding-bottom: 8.5em;
    }
    /* section--a styles*/
    .page--section--a {
        grid-template-columns: 50% auto;
        row-gap: 0;
        column-gap: 6%;
        width: 100%;
    }
    .page--section--a header {
        grid-column: 1 / 3;
    }
    .page--section--a figure {
        margin-top: 4.5em;
        transform: translateX(-15px);
    }
    .page--section--a div {
        width: 66%;
        margin: 4.5em 0 0 0;
    }
    .page--section--a h3 {
        text-align: left;
    }
    .page--section--a p.page--section--a__para {
        padding-top: 0.65em;
        padding-bottom: 3.01em;
        text-align: left;
    }
    /* section--c styles */
    .page--section--c {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 1.8em;
        width: calc(100vw*0.80);
        margin: auto;
    }
    .page--section--c div {
        margin: 0;
        width: auto;
    }
    .page--section--c div:first-child {
        grid-column: 1 / 4;
    }
    .page--section--c p.page--section--c__para {
        /*padding-top: 1em;*/
        font-size: 0.9em;
    }
    /* section--d styles */
    .page--section--d {
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and (min-width: 1024px) {
    h2 {
        font-size: 1.7em;
    }
    p {
        font-size: 0.95em;
    }
    /* header styles */
    .page--header figure {
        margin-top: 6.5em;
        margin-bottom: 3.5em;
    }
    .page--header h1 {
        font-size: 2em;
    }
    .page--header p {
        margin-top: 1.4em;
    }
    /* section--a styles*/
    .page--section--a figure {
        transform: translateX(-20px);
    }
    .page--section--a div {
        margin: 6.35em 0 0 0;
    }
    /* section--b styles */
    .page--section--b {
        margin-top: 8.1em;
    }
    .page--section--b p.page--section--b__para {
        padding-top: 0.75em;
        padding-bottom: 6.5em;
    }
}

@media only screen and (min-width: 1440px) {
    h2 {
        font-size: 1.9em;
    }
    p {
        font-size: 1em;
    }
    /* header styles */
    .page--header figure {
        margin-top: 6em;
        margin-bottom: 3em;
    }
    .page--header h1 {
        font-size: 2.4em;
    }
    /* section--a styles*/
    .page--section--a figure {
        transform: translateX(-30px);
    }
    .page--section--a div {
        margin: 8.2em 0 0 0;
    }
    /* section--b styles */
    .page--section--b {
        margin-top: 8.5em;
    }
    .page--section--b p.page--section--b__para {
        padding-top: 0.8em;
        padding-bottom: 6em;
    }
    /* section--c styles */
    .page--section--c {
        margin-top: 4.5em;
    }
    .page--section--c p.page--section--c__para__first {
        padding-bottom: 2.8em;
    }
    /* section--d styles */
    .page--section--d {
        gap: 5.5em;
        margin-top: 9em;
    }
}