@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

/*
    font-family: 'Open Sans', sans-serif;

    font-family: 'Raleway', sans-serif;
*/

:root {
    /* primary */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desatutered-blue: hsl(238, 22%, 44%);
    /* accent */
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    /* neutral */
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}


/* utilities */

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.ml-1em {
    margin-left: 1em;
}

.mr-1em {
    margin-right: 1em;
}

.img-filter {
    filter: saturate(0%) contrast(0%) brightness(200%);
}

.text-center {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

main {
    max-width: 1440px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 20px;
}

header figure {
    height: 25px;
    width: auto;
}

header figure img {
    height: 25px;
    width: auto;
}

header ul {
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
}

header ul li {
    display: inline;
}

header ul li:nth-child(2) {
    margin-left: 20px;
}

header ul li:nth-child(3) {
    margin-left: 20px;
}

section {
    width: auto;
    max-height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

section figure img {
    max-width: 100%;
    height: auto;
    /*text-align: center;*/
}

h1 {
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.4em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 1em;
}

h3 {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 5.5em;
    margin-bottom: 1.5em;
}

a {
    text-decoration: none;
    color: rgb(61, 160, 143);
    border-bottom: solid 0.1em rgb(61, 160, 143);
    padding-bottom: 0.3em;
}

a img {
    vertical-align: middle;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

input[type=text] {
    color: var(--light-gray);
    border-radius: 3px;
    border: black solid 1px;
}

input[type=button] {
    background-color: var(--bright-blue);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 3px;
}

.section-top {
    background-image: url(../images/bg-curve-mobile.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 150px;
}

.section-top .figure-top {
    margin-top: 7em;
    margin-bottom: 2em;
}

.section-top p {
    /*padding-bottom: 25px;*/
    font-size: 0.9rem;
    line-height: 1.5em;
}

.section-top input[type=text] {
    padding: 1em;
    font-size: 0.75rem;
}

.section-top input[type=button] {
    padding: 1em;
    margin-top: 1.1em;
}

.section-middle {
    background-color: var(--light-grayish-blue);
    padding-top: 35px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 90px;
}

.section-middle .figure-middle {
    padding-right: 10px;
    padding-left: 10px;
}

.section-middle p {
    /*padding-bottom: 25px;*/
    font-size: 0.9rem;
    line-height: 1.5em;
}

div.review {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 35ch;
    margin: auto;
    padding: 20px;
    box-shadow: 0.5px 0.5px 10px var(--light-gray);
}

div.review .figure-review {
    width: 100%;
    height: 100%;
}

div.review figure img {
    width: 5%;
    height: auto;
}

div.review p {
    font-size: 0.65rem;
}

div.review p img {
    width: 10%;
    height: auto;
    margin-right: 10px;
    float: left;
    border-radius: 100%;
    vertical-align: middle;
}

.section-bottom {
    background-color: var(--desatutered-blue);
    color: white;
    padding-top: 57px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}

.section-bottom input[type=text] {
    padding: 10px;
    font-size: 0.6rem;
}

.section-bottom input[type=button] {
    margin-top: 7px;
    padding: 10px;
    font-size: 0.6rem;
}

.section-bottom p {
    padding-bottom: 25px;
    font-size: 0.9rem;
    line-height: 1.5em;
}

.section-colofoon {
    background-color: var(--very-dark-blue);
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-right: 25px;
    padding-left: 40px;
    font-size: 16px;
}

.section-colofoon ul {
    list-style: none;
    margin-top: 30px;
}

.section-colofoon ul:nth-child(2) {
    margin-top: 40px;
}

.section-colofoon ul:nth-child(3) {
    margin-top: 40px;
}

.section-colofoon li {
    line-height: 2.5em;
}

@media only screen and (min-width: 1440px) {
    section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    section figure {
        grid-area: 1 / 2 / 2 / 3;
    }
    section div {
        grid-area: 1 / 1 / 2 / 2;
    }
}